/* 🎒 ГЛАВНОЕ ОКНО РЮКЗАКА (Твой BaseWindow) */
.character-window {
    background-color: rgba(26, 30, 30, 0.95);
    padding: 12px;
    position: relative;
    left: 200px;
    top: 100px;
    border-width: 1px;
    border-color: #3a3a3a;
    border-radius: 2px;
    
    /* 🎰 ХАК ВЕБ-ВЕРСТКИ: Говорим окну сжиматься строго по габаритам его контента!
       Благодаря этому окно станет ровно такой ширины, какой ширины наша сетка сумок! */
    align-self: flex-start; 

     /* Жесткие размеры, чтобы окно гарантированно имело физическое тело */
    width: 320px;
    height: 280px;
    
    /* Жирная неоновая рамка для 100% видимости в дебаге */
    border-width: 4px;
    border-color: #00ffcc; 
    border-radius: 6px;
}

/* Ищем по классу (через точку!), который наш StaticGrid.cs вешает в C# конструкторе! */
.static-grid-container {
    flex-shrink: 0;
    flex-grow: 0;
}
