# Папки кэша, логов и сборки Unity
/Library/
/Logs/
/Temp/
/Obj/
/Build/
/Builds/
/UserSettings/

/Assets/_Recovery.meta
/Assets/_Recovery/

# Файлы Plastic SCM и автогенерация
/.plastic/
*.sln
*.slnx
*.csproj
*.user
*.userprefs
*.pidb
*.suo

# Системный мусор и бэкапы
.DS_Store
Thumbs.db
editor_layout.wlt

# Neovim / Vim мусор
.netrwhist
*~
*.swp
*.swo
.vim/

# Настройки VS Code (если вдруг прилетит)
.vscode/

# Дополнительный скрытый мусор Unity 6
/[Pp]roject[Ss]ettings/[Cc]onfig/[Aa]sset[Cc]hange*.bin
/[Pp]roject[Ss]ettings/ProjectVersion.txt.bak
/[Pp]roject[Ss]ettings/probuilder-changes.txt
/UserState/
/MemoryCaptures/
/AssetBackups/

*.tif
*.tiff
