.context-menu {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.95);
    border-width: 1px;
    border-color: rgba(64, 64, 64, 0.4);
    padding: 4px;
    min-width: 160px;
    max-width: 240px;
    pointer-events: auto;
    flex-direction: column;    
    picking-mode: ignore; /* чтобы клик проходил сквозь корень */
}

.context-menu__scroll {
    flex-grow: 1;
    max-height: 400px;
}

.context-menu__scroll .unity-scroll-view__content-container {
    flex-grow: 1;
}

.context-menu__list {
    flex-direction: column;
    flex-grow: 1;
}

/* ================================================================
   КНОПКА КОНТЕКСТНОГО МЕНЮ
   ================================================================ */
.context-menu__button {
    height: 32px;
    padding: 4px 12px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: rgba(64, 64, 64, 0.4);    
    background-color: rgba(15, 15, 15, 0.95);
    color: var(--osaka-text);
    font-size: 15px;
    -unity-text-align: middle-left;
    flex-shrink: 0;
    transition-duration: 0.08s;
    align-items: center;
}

.context-menu__button:last-child {
    border-bottom-width: 0;
}

.context-menu__button:hover {
    background-color: rgba(72, 72, 72, 0.95);
  }

.context-menu__button:active {
    background-color: rgba(72, 72, 72, 0.95);
  }

/* КНОПКА С ИКОНКОЙ (задел) */
.context-menu__button .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-color: transparent;
}

/* РАЗДЕЛИТЕЛЬ */
.context-menu__divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.08);
    margin: 4px 8px;
}

/* СТИЛЬ ДЛЯ ДИЗАБЛЕД КНОПОК (будущее) */
.context-menu__button.disabled {
    color: var(--solarized-base00);
    pointer-events: none;
}

.context-menu__button.disabled:hover {
    background-color: transparent;
}

/* ПОДСКАЗКА (Shortcut) — задел для будущего */
.context-menu__button .shortcut {
    color: rgba(255, 255, 255, 0.3);
    font-size: 11px;
    -unity-text-align: middle-right;
    flex-grow: 1;
}
